PowerAPI_Community.aux
PowerAPI_Community.bbl
PowerAPI_Community.blg
PowerAPI_Community.ilg
PowerAPI_Community.ind
PowerAPI_Community.log
PowerAPI_Community.out
PowerAPI_Community.toc
PowerAPI_Community.idx

